
body,
html {
    font-family: Poppins, Tajawal, Helvetica, sans-serif !important;
}

label {
    text-transform: capitalize;
}
.required {
    color: red;
    margin-right: 0.25rem;
    border-bottom: 1px dotted;
}
.img__upload {
    margin: 0;
    border: 0;
}
.img__upload span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #bababa85;
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
.img__upload label {
    margin: 0;
    cursor: pointer !important;
    background-color: #eee;
}
.img__upload input {
    display: none;
}
.m-portlet {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 0.42rem;
}
/* .owner__new__section {
    display: none;
} */
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Choose file";
    background-color: #187de4;
    color: #fff;
}
.default__img {
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
}
.nav.nav-pills .nav-link.active,
.nav.nav-pills .show > .nav-link {
    background-color: transparent;
    border-bottom: 3px solid #3699ff;
    border-radius: 0;
}
.alert .nav-link h3 {
    font-weight: 500 !important;
    font-size: 1.275rem !important;
    color: #181c32 !important;
}
.chart-card {
    flex: 1 !important;
}

/* .info__list > div:not(:last-child) {
    border-bottom: 1.5px dashed #e8e8e8;
    padding-bottom: 0.5rem;
}
.info__list:not(:last-child) {
    border-right: 1px solid #e8e8e8;
    padding-right: 1.5rem;
} */
/* .info__list:not(:first-child) {
    padding-left: 1.5rem;
} */
.info__list > div > span {
    font-size: 1.4rem;
}
.small__text {
    float: right;
    font-size: 0.8rem;
}
.dropzone.dropzone-default .dz-remove {
    font-size: 14px !important;
}
.invoices__body {
    border-radius: 0.42rem;
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.05);
    margin: 2rem 0;
}
.table th,
.table td {
    vertical-align: middle !important;
}

@media (max-width: 991.98px) {
    .header-menu-wrapper {
        left: -600px;
    }
}

@media (min-width: 1025px) {
    .info__list > div:not(:last-child) {
        border-bottom: 1.5px dashed #e8e8e8;
        padding-bottom: 0.5rem;
    }
    .info__list:not(:last-child) {
        border-right: 1px solid #e8e8e8;
        padding-right: 1.5rem;
    }
}

@media (max-width: 575px) {
    .property_overview {
        border-bottom: none !important;
        display: flex;
        flex-direction: column;
    }
    .property_overview li a {
        margin: 0 !important;
    }
    .markAsVoid {
        width: 100%;
    }
}
@media (min-width: 991.98px) {
    .wizard.wizard-2 .wizard-nav {
        padding: 0;
        flex: 0 0 300px !important;
        width: 300px !important;
        max-width: 100%;
    }
}

.agreement {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#kt_header_menu_wrapper {
    width: 65% !important;
}

.wait {
    display: none;
    position: absolute !important;
    top: 70%;
    left: 5%;
}

h5 {
    text-transform: capitalize;
}

.btn,
.card-label,
.card-title {
    text-transform: capitalize;
}

.page-loader {
    z-index: 999999;
}

.filter-option:lang(ar) {
    text-align: right !important;
}
.select2:lang(ar) {
    direction: rtl !important;
}

.agreement:lang(ar) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0.42rem !important;
    border-bottom-left-radius: 0.42rem !important;
}

.form-control.form-control-solid:lang(ar) {
    direction: rtl;
}

.form-group .symbol {
    display: block !important;
    margin-bottom: 0.5rem !important;
}

.alert {
    direction: ltr;
}

.wizard-label:lang(ar) {
    margin-right: 0.5rem;
}

