@model List<UserViewModel>

<h1>System Users</h1>
<hr />

<a class="btn btn-primary" href="~/User/Create">Add User</a>
<br />

@if (Model.Any())
{
    <br />
    <table class="table table-hover">

        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Creation Date</th>
            <th>Operation</th>
        </tr>

        @foreach (var user in Model)
        {
    <tr>
        <th>@user.FullName</th>
        <th>@user.Email</th>
        <th>@user.PhoneNumber</th>
        <th>@user.CreatedAt.ToString("yyyy:MM:dd")</th>
        <th>
            <a class="btn btn-danger" href="~/user/delete/@user.Id">Delete</a>
        </th>
    </tr>
        }

    </table>
}
else
{
    <br />
    <div class="alert alert-warning">
        No Users
    </div>

}